# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.sqlite3
*.pyc
db.sqlite3
media/
staticfiles/
*.pot
*.mo

# PyCharm / VSCode
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Env files
.env
.env.*

# Frontend
Frontend/node_modules/
Frontend/build/
Frontend/coverage/
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local
Frontend/.cache/

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py
